// Normalize
@import "compass/reset";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Compass Mixins
@import "compass";

body {
	font-family: helvetica, sans-serif;
	overflow: hidden;
}
a {
	color:inherit;
	&:active {
		text-decoration: none;
		color:inherit;
	}
	&:visited {
		text-decoration: none;
		color:inherit;
	}
	&:hover {
		text-decoration: none;
		color:inherit;
	}
}


.cont {
	@include display-flex;
	@include flex-flow(column nowrap);
	.navB {
		height: 7vh;
		@include display-flex;
		@include justify-content(space-between);
		@include align-items(center);
		background: #222;
		border-bottom:1px solid black;
		i {
			padding:10px;
		}
	}

	.scrollMenu {
		position: absolute;
		z-index:9999;
		left:-100vw;
		transition: all 0.5s ease-in-out;
		@include display-flex;
		@include flex-flow(column nowrap);
		@include justify-content(flex-start);
		@include align-items(center);
		width:100vw;
		height: 93vh;
		background: rgba(255,255,255,1);
		color:#333;
		padding-top:40px;
		img{
			margin-bottom: 20px;
		}
	
		i{
			margin-bottom:30px;
		}
	
		div{	
			width:100%;
			@include display-flex;
			@include justify-content(center);
			padding:10px 0;
			
			&:hover {
				background: rgba(0,0,0,0.8);
				color:#FFF;
			}
			&:not(:active) {
				animation:blink 0.2s linear;
			}
			p {
				font-size:2em;
			}
		}
	}
	.main {
		.test {
			height: 84vh;
			overflow-y:auto;
			@include display-flex;
			@include flex-flow(column nowrap);
			@include justify-content(flex-start);
			@include align-items(flex-start);
			padding:35px 5%;
			background: rgb(56,56,56); /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(16,16,16,1) 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%,rgba(16,16,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, rgba(56,56,56,1) 0%,rgba(16,16,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}

		.test2 {
			background: rgb(56,56,56); /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%, rgba(16,16,16,1) 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, rgba(56,56,56,1) 0%,rgba(16,16,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, rgba(56,56,56,1) 0%,rgba(16,16,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			background: #222;
			border-top:1px solid black;
			min-height:9vh;
			@include display-flex;
			@include justify-content(space-around);
			@include align-items(center);
			padding:0 15px 0 15px;
			
			input[type='text'] {
				min-height:60%;
				@include flex(0 1 600px);
				padding:3px 15px;
				background-color: #111;
				border:1px solid #666;
				transition:all 0.5s ease-in;
				color:#CCC;
				&:focus {
					outline:0;
					border:1px solid #CCC;
					background-color: #000;
				}
			}

			input[type='button'] {
				min-height: 60%;
				@include flex(0 1 100px);
				border:1px solid #666;
				background-color: #111;
				color:#CCC;
				padding: 3px;
				transition:all 0.5s ease-in;
				margin-left:10px;
				&:focus {
					outline:0;
					border:1px solid #CCC;
					background-color: #000;
				}
			}
		}
	}
}


.firstAnswer {
	@extend .displayQuestion;
	@extend .displayAnswer;
}


.answer {
	display:none;
	opacity:0;
	span {
		position: relative;
		top:5px;
	}
	img {
		margin:5px 10px;
		width:90%;
	}
}

.question {
	@extend .answer;
}

.waiting {
	@extend .answer;
}

.displayQuestion {
	border:1px solid #C73;
	padding:15px 10px 10px 10px;
	display:flex;
	flex: 0 0 auto;
	opacity:1;
	justify-content:center;
	align-items:center;
	max-width:50%;
	margin:15px 0;
	box-shadow:0 0 15px 1px #111;
	background:#222;
	color:#D93;
	min-height:50px;
	align-self:flex-end;
}

.displayAnswer {
	@extend .displayQuestion;
	align-self:flex-start;
	border:1px solid #175;
	color:#6CA;
}

.displayWait {
	opacity:1;
	align-self:flex-start;
	margin:15px 0;
	animation:spin 4s linear infinite;
	i {
	}
}



@keyframes spin { 
	100% { 
		transform: rotateY(540deg);
	}
}

@keyframes blink {
	0% {
		background: rgba(0,0,0,0.8);
	}
	50% {
		background: rgba(255,255,255,0.8);
	}
	100% {
		background: rgba(0,0,0,0.8);
	}
}




